
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1 >Index1</h1>
<h1>Index1</h1>
<h1>Index1</h1>
<h1>Index1</h1>
<h1 style="margin-bottom:200px;">Index1</h1>

