
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1 >Index1</h1>
<h1>Index1</h1>
<h1>Index1</h1>
<h1>Index1</h1>
<h1 style="margin-bottom:200px;">Index1</h1>



@section ads{ 

    <img width="100" height="100" src="https://newsmedia.tasnimnews.com/Tasnim/Uploaded/Ads/1403/09/06/140309061057504013153152.gif" alt="Alternate Text" />
    <img width="100" height="100" src="https://newsmedia.tasnimnews.com/Tasnim/Uploaded/Ads/1403/09/06/140309061057504013153152.gif" alt="Alternate Text" />
    <img width="100" height="100" src="https://newsmedia.tasnimnews.com/Tasnim/Uploaded/Ads/1403/09/06/140309061057504013153152.gif" alt="Alternate Text" />

}
